@charset "UTF-8";
.theme-default .nivoSlider {
  overflow: visible;
  margin-bottom: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.theme-default .nivo-directionNav a {
  width: 17px;
  height: 34px;
  opacity: 1; }

.theme-default a.nivo-nextNav {
  background-position: -17px 0;
  right: 40px; }

.theme-default a.nivo-prevNav {
  left: 40px; }

.slider-wrapper {
  background-color: #0058AE; }

.slider-wrapper:after {
  clear: both;
  content: "";
  display: table; }

.slider-box {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

.theme-default {
  position: relative; }
  .theme-default .top-left .nivo-caption {
    position: absolute;
    top: 25px;
    left: 97px;
    width: 63%;
    height: 40%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', ​sans-serif; }
    .theme-default .top-left .nivo-caption h2 {
      color: #ffffff;
      font-size: 40px;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2.8em;
      margin-bottom: 10px; }
      .theme-default .top-left .nivo-caption h2 a {
        color: #ffffff; }
    .theme-default .top-left .nivo-caption .content {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.4;
      height: 4.2em;
      text-overflow: ellipsis;
      overflow: hidden; }
  .theme-default .top-right .nivo-caption {
    position: absolute;
    top: 25px;
    right: 97px;
    width: 63%;
    height: 40%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', ​sans-serif; }
    .theme-default .top-right .nivo-caption h2 {
      color: #ffffff;
      font-size: 40px;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2.8em;
      margin-bottom: 10px; }
      .theme-default .top-right .nivo-caption h2 a {
        color: #ffffff; }
    .theme-default .top-right .nivo-caption .content {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.4;
      height: 4.2em;
      text-overflow: ellipsis;
      overflow: hidden; }
  .theme-default .bottom-left .nivo-caption {
    position: absolute;
    bottom: 25px;
    left: 97px;
    width: 63%;
    height: 40%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', ​sans-serif; }
    .theme-default .bottom-left .nivo-caption h2 {
      color: #ffffff;
      font-size: 40px;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2.8em;
      margin-bottom: 10px; }
      .theme-default .bottom-left .nivo-caption h2 a {
        color: #ffffff; }
    .theme-default .bottom-left .nivo-caption .content {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.4;
      height: 4.2em;
      text-overflow: ellipsis;
      overflow: hidden; }
  .theme-default .bottom-right .nivo-caption {
    position: absolute;
    bottom: 25px;
    right: 97px;
    width: 63%;
    height: 40%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', ​sans-serif; }
    .theme-default .bottom-right .nivo-caption h2 {
      color: #ffffff;
      font-size: 40px;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2.8em;
      margin-bottom: 10px; }
      .theme-default .bottom-right .nivo-caption h2 a {
        color: #ffffff; }
    .theme-default .bottom-right .nivo-caption .content {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.4;
      height: 4.2em;
      text-overflow: ellipsis;
      overflow: hidden; }
  .theme-default .left-photo-right {
    width: 768px !important;
    height: 384px;
    margin-top: -30px;
    margin-bottom: -30px;
    float: right;
    margin-right: 57px; }
    .theme-default .left-photo-right .nivo-caption {
      position: absolute;
      width: 63%;
      height: auto;
      padding: 25px;
      background-color: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      margin: 0;
      font-family: 'Open Sans', ​sans-serif; }
      .theme-default .left-photo-right .nivo-caption h2 {
        color: #ffffff;
        font-size: 40px;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.8em;
        margin-bottom: 10px; }
        .theme-default .left-photo-right .nivo-caption h2 a {
          color: #ffffff; }
      .theme-default .left-photo-right .nivo-caption .content {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.4;
        height: 4.2em;
        text-overflow: ellipsis;
        overflow: hidden; }
    .theme-default .left-photo-right a.nivo-prevNav {
      left: -375px; }
    .theme-default .left-photo-right a.nivo-nextNav {
      right: -57px; }
    .theme-default .left-photo-right .nivo-caption {
      background-color: transparent;
      padding: 0;
      position: absolute;
      top: 40px;
      width: 278px;
      left: -318px; }
      .theme-default .left-photo-right .nivo-caption h2 {
        max-height: 5.6em; }
  .theme-default .right-photo-left {
    width: 768px !important;
    height: 384px;
    margin-top: -30px;
    margin-bottom: -30px;
    float: left;
    margin-left: 57px; }
    .theme-default .right-photo-left .nivo-caption {
      position: absolute;
      width: 63%;
      height: auto;
      padding: 25px;
      background-color: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      margin: 0;
      font-family: 'Open Sans', ​sans-serif; }
      .theme-default .right-photo-left .nivo-caption h2 {
        color: #ffffff;
        font-size: 40px;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.8em;
        margin-bottom: 10px; }
        .theme-default .right-photo-left .nivo-caption h2 a {
          color: #ffffff; }
      .theme-default .right-photo-left .nivo-caption .content {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.4;
        height: 4.2em;
        text-overflow: ellipsis;
        overflow: hidden; }
    .theme-default .right-photo-left a.nivo-prevNav {
      left: -57px; }
    .theme-default .right-photo-left a.nivo-nextNav {
      right: -375px; }
    .theme-default .right-photo-left .nivo-caption {
      background-color: transparent;
      padding: 0;
      position: absolute;
      top: 40px;
      width: 278px;
      right: -318px; }
      .theme-default .right-photo-left .nivo-caption h2 {
        max-height: 5.6em; }

@media screen and (max-width: 600px) {
  .slider-box {
    width: 100%;
    padding: 30px 25px; }

  .theme-default .nivo-directionNav a {
    width: 8px;
    height: 17px;
    background-size: 17px 17px; }

  .theme-default a.nivo-nextNav {
    background-position: -8px 0;
    right: -15px; }

  .theme-default a.nivo-prevNav {
    left: -15px; }

  .theme-default .top-left,
  .theme-default .top-right,
  .theme-default .bottom-left,
  .theme-default .bottom-right,
  .theme-default .left-photo-right,
  .theme-default .right-photo-left {
    padding: 0;
    width: 100%;
    height: auto; }
    .theme-default .top-left .nivo-caption,
    .theme-default .top-right .nivo-caption,
    .theme-default .bottom-left .nivo-caption,
    .theme-default .bottom-right .nivo-caption,
    .theme-default .left-photo-right .nivo-caption,
    .theme-default .right-photo-left .nivo-caption {
      position: relative;
      left: 0;
      top: 0;
      margin-top: 20px;
      padding: 0;
      width: 100%;
      height: auto;
      background-color: transparent; }
      .theme-default .top-left .nivo-caption h2,
      .theme-default .top-right .nivo-caption h2,
      .theme-default .bottom-left .nivo-caption h2,
      .theme-default .bottom-right .nivo-caption h2,
      .theme-default .left-photo-right .nivo-caption h2,
      .theme-default .right-photo-left .nivo-caption h2 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        height: 1.4em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .theme-default .top-left .nivo-caption .content,
      .theme-default .top-right .nivo-caption .content,
      .theme-default .bottom-left .nivo-caption .content,
      .theme-default .bottom-right .nivo-caption .content,
      .theme-default .left-photo-right .nivo-caption .content,
      .theme-default .right-photo-left .nivo-caption .content {
        margin: 1em 0 0 0;
        padding: 0;
        font-size: 12px;
        height: 1.4em;
        text-overflow: ellipsis;
        white-space: nowrap; } }
