.showtime {
  max-width: 100%;
  position: relative; }
  .showtime .slide {
    margin: 0 5px;
    max-width: 100%;
    width: auto; }
    .showtime .slide .top-left {
      position: relative;
      max-height: 600px; }
      .showtime .slide .top-left .slide-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #ffffff;
        margin: 0;
        line-height: 1.4em; }
        .showtime .slide .top-left .slide-text h2 {
          font-size: 0.8em;
          font-weight: normal; }
        .showtime .slide .top-left .slide-text .slide-content {
          font-size: 0.8em;
          font-weight: normal; }
      .showtime .slide .top-left .slide-image a img {
        display: block;
        width: 100%;
        height: auto; }
    .showtime .slide .top-right {
      position: relative;
      max-height: 600px; }
      .showtime .slide .top-right .slide-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #ffffff;
        margin: 0;
        line-height: 1.4em; }
        .showtime .slide .top-right .slide-text h2 {
          font-size: 0.8em;
          font-weight: normal; }
        .showtime .slide .top-right .slide-text .slide-content {
          font-size: 0.8em;
          font-weight: normal; }
      .showtime .slide .top-right .slide-image a img {
        display: block;
        width: 100%;
        height: auto; }
    .showtime .slide .bottom-left {
      position: relative;
      max-height: 600px; }
      .showtime .slide .bottom-left .slide-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #ffffff;
        margin: 0;
        line-height: 1.4em; }
        .showtime .slide .bottom-left .slide-text h2 {
          font-size: 0.8em;
          font-weight: normal; }
        .showtime .slide .bottom-left .slide-text .slide-content {
          font-size: 0.8em;
          font-weight: normal; }
      .showtime .slide .bottom-left .slide-image a img {
        display: block;
        width: 100%;
        height: auto; }
    .showtime .slide .bottom-right {
      position: relative;
      max-height: 600px; }
      .showtime .slide .bottom-right .slide-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #ffffff;
        margin: 0;
        line-height: 1.4em; }
        .showtime .slide .bottom-right .slide-text h2 {
          font-size: 0.8em;
          font-weight: normal; }
        .showtime .slide .bottom-right .slide-text .slide-content {
          font-size: 0.8em;
          font-weight: normal; }
      .showtime .slide .bottom-right .slide-image a img {
        display: block;
        width: 100%;
        height: auto; }
    .showtime .slide .left-photo-right {
      position: relative;
      max-height: 600px; }
      .showtime .slide .left-photo-right .slide-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #ffffff;
        margin: 0;
        line-height: 1.4em; }
        .showtime .slide .left-photo-right .slide-text h2 {
          font-size: 0.8em;
          font-weight: normal; }
        .showtime .slide .left-photo-right .slide-text .slide-content {
          font-size: 0.8em;
          font-weight: normal; }
      .showtime .slide .left-photo-right .slide-image a img {
        display: block;
        width: 100%;
        height: auto; }
    .showtime .slide .right-photo-left {
      position: relative;
      max-height: 600px; }
      .showtime .slide .right-photo-left .slide-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #ffffff;
        margin: 0;
        line-height: 1.4em; }
        .showtime .slide .right-photo-left .slide-text h2 {
          font-size: 0.8em;
          font-weight: normal; }
        .showtime .slide .right-photo-left .slide-text .slide-content {
          font-size: 0.8em;
          font-weight: normal; }
      .showtime .slide .right-photo-left .slide-image a img {
        display: block;
        width: 100%;
        height: auto; }

@media screen and (max-width: 600px) {
  .showtime .slide .top-left {
    max-height: 160px; }
  .showtime .slide .top-right {
    max-height: 160px; }
  .showtime .slide .bottom-left {
    max-height: 160px; }
  .showtime .slide .bottom-right {
    max-height: 160px; }
  .showtime .slide .left-photo-right {
    max-height: 160px; }
  .showtime .slide .right-photo-left {
    max-height: 160px; } }
