@charset "utf-8";

// overwride
.theme-default .nivoSlider {
	overflow: visible;
	margin-bottom: 0;
	background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.theme-default .nivo-directionNav a {
	width:17px;
	height:34px;
	opacity: 1;
}
.theme-default a.nivo-nextNav {
	background-position:-17px 0;
	right:40px;
}
.theme-default a.nivo-prevNav {
	left:40px;
}

.slider-wrapper {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}
.slider-box {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}


@mixin slide( $w:63%, $h:auto, $t:0, $b:0, $l:0, $r:0) {
	background-color: #0058AE;
	max-height: 580px;
	overflow: hidden;
	&:after {
		clear: both;
		content: "";
		display: table;
	}

	.showtime {
		width: 1200px !important;
		height: 580px;
	}
		.nivo-caption {
		position: absolute;
		@if $t > 0 { top: $t; }
		@if $b > 0 { bottom: $b; }
		@if $l > 0 { left: $l; }
		@if $r > 0 { right: $r; }
		width: $w;
		height: $h;
		padding: 25px;
		background-color: rgba(0,0,0,0.5);
		box-sizing: border-box;
		margin: 0;
		font-family: 'Open Sans', ​sans-serif;

		h2 {
			color: #ffffff;
			font-size: 40px;
			line-height: 1.4;
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: 2.8em;
			margin-bottom: 10px;
			a {
				color: #ffffff;
			}
		}
		.content {
			font-size: 14px;
			font-weight: normal;
			line-height: 1.4;
			height: 3em*1.4;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}

@mixin phototext( $p:left ) {
	max-height: 371px;
	overflow: visible;
	margin-top: 30px;
	margin-bottom: 30px;

	.slider-box {
		overflow: hidden;
		position: relative;
		top:-30px;
		margin-bottom: -60px;
	}
	.showtime {

		width: 768px !important;
		height: 371px;

		@if $p == 'left' {
			float: right; margin-right: 57px;
			a.nivo-prevNav{
				left: -375px;
			}
			a.nivo-nextNav {
				right: -57px;
			}
		} @else {
			float: left; margin-left: 57px;
			a.nivo-prevNav{
				left: -57px;
			}
			a.nivo-nextNav {
				right: -375px;
			}
		}

	}

	.nivo-caption {
		background-color: transparent;
		padding: 0;
		position: absolute;
		top: 35px;
		width: 375px - 97;
		@if $p == 'left' {
			left: -375px + 57px;
		} @else {
			right: -375px + 57px;
		}

		h2 {
			max-height: 5.6em;
		}
		.slide-content {
		}
	}
}


.theme-default {
	position: relative;

	.top-left {
		@include slide( $w:63%, $h:40%, $t:25px, $l:97px);
	}
	.top-right {
		@include slide( $w:63%, $h:40%, $t:25px, $r:97px);
	}
	.bottom-left {
		@include slide( $w:63%, $h:40%, $b:25px, $l:97px);
	}
	.bottom-right {
		@include slide( $w:63%, $h:40%, $b:25px, $r:97px);
	}
	.left-photo-right {
		@include slide;
		@include phototext( $p:left );
	}
	.right-photo-left {
		@include slide;
		@include phototext( $p:right );
	}
}

$brake-point: 600px !default;

@media screen and (max-width: $brake-point) {
	.slider-box {
		width: 100%;
		padding: 30px 25px;
	}

	.theme-default .nivo-directionNav a {
		width:8px;
		height:17px;
		background-size: 17px 17px;
	}
	.theme-default a.nivo-nextNav {
		background-position: -8px 0;
		right:-15px;
	}
	.theme-default a.nivo-prevNav {
		left:-15px;
	}

	.theme-default {
		.top-left,
		.top-right,
		.bottom-left,
		.bottom-right,
		.left-photo-right,
		.right-photo-left {
			padding: 0;
			//width: 100%;
			//height: auto;
			.showtime {
				width: 100% !important;
				height: auto;
			}

			.nivo-caption {
				position: relative;
				left: 0;
				top: 0;
				margin-top: 20px;
				padding: 0;
				width: 100%;
				height: auto;
				background-color: transparent;

				h2 {
					margin: 0;
					padding: 0;
					font-size: 16px;
					height: 1em *1.4;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.content {
					margin: 1em 0 0 0;
					padding: 0;
					font-size: 12px;
					height: 1.4em;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}
