.gmo-showtime {
  max-width: 100%; }
  .gmo-showtime .slide {
    margin: 0 5px;
    max-width: 100%;
    width: auto;
    height: auto; }
    .gmo-showtime .slide .slide-wrap {
      position: relative; }
      .gmo-showtime .slide .slide-wrap h2 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        font-size: 20px;
        color: #ffffff;
        margin: 0; }
      .gmo-showtime .slide .slide-wrap img {
        display: block;
        width: 100%;
        height: auto; }
