@mixin slide()
{
    position: relative;
    max-height: 600px;
    .slide-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0,0,0,0.5);
        box-sizing: border-box;
        color: #ffffff;
        margin: 0;
        line-height: 1.4em;
        h2
        {
            font-size: 0.8em;
            font-weight: normal;
        }
        .slide-content
        {
            font-size: 0.8em;
            font-weight: normal;
        }
    }
    .slide-image
    {
        a
        {
            img
            {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

.showtime
{
    max-width: 100%;
    position: relative;

    .slide
    {
        margin: 0 5px;
        max-width: 100%;
        width: auto;
        .top-left
        {
            @include slide();
        }
        .top-right
        {
            @include slide();
        }
        .bottom-left
        {
            @include slide();
        }
        .bottom-right
        {
            @include slide();
        }
        .left-photo-right
        {
            @include slide();
        }
        .right-photo-left
        {
            @include slide();
        }
    }
}

$brake-point: 600px !default;

@media screen and (max-width: $brake-point) {
	.showtime {
		.slide {
            .top-left
            {
				max-height: 160px;
            }
            .top-right
            {
				max-height: 160px;
            }
            .bottom-left
            {
				max-height: 160px;
            }
            .bottom-right
            {
				max-height: 160px;
            }
            .left-photo-right
            {
				max-height: 160px;
            }
            .right-photo-left
            {
				max-height: 160px;
            }
		}
	}
}
